@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: rgb(15, 23, 36);
}

.heading {
    font-family: 'Great Vibes', cursive;
    font-weight: 600;        
    color: rgb(247, 60, 92);
    font-size: 57px;
    margin-left: 15px;
    padding: 15px;
}

.mainBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset -20px 0 50px rgba(226, 119, 212, 0.888),
        inset 20px 0 50px rgba(226, 119, 212, 0.888);
    margin-left: 125px;
    border-radius: 10px;
    width: 80vw;
    height: 97vh;
    /* background-color: rgb(24, 8, 65); */
    background: linear-gradient(to bottom right, rgb(43, 31, 89), rgb(24, 16, 50), rgb(19, 11, 48), rgb(37, 15, 42), rgb(37, 15, 42), rgb(37, 15, 42), rgb(48, 11, 24), rgb(40, 10, 20));
}

.title {
    margin-left: 15px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-family: 'Poppins';
}

.secBox {
    box-shadow: inset 0px 0 30px rgb(100, 100, 221);
    /* background-color: rgb(60 15 76); */
    width: 550px;
    height: 380px;
    padding-top: 5px;
    padding-left: 15px;
    border-radius: 10px;
    margin-left: 15px;
}

.secBox :nth-child(1) {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.secBox :nth-child(2) {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.secBox :nth-child(3) {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.secBox :nth-child(4) {
    color: whitesmoke;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
}

.thirdBox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    color: white;
    background: linear-gradient(to bottom right, rgb(248, 118, 98), rgb(248, 118, 98), rgb(244, 186, 104), rgb(247, 195, 123), rgb(238, 192, 127));
    font-family: 'Poppins';
    font-weight: bolder;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    margin-top: 12px;
}

.end :nth-child(2) {
    color: white;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
}

.images {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 50px;
    align-items: flex-end;
    justify-content: center;
    /* width: 400px; */
    gap: 30px;
    height: 400px;
}

.images img {
    /* position: absolute; */
    width: 200px;
    height: auto;

}

.images .cake {
    position: absolute;
    width: 360px;
    padding-right: 128px;
    padding-bottom: 150px;
    height: auto;
    z-index: 2;
}

.images .heart {
    position: absolute;
    width: 120px;
    padding-right: 40px;
    top: -40px;
    left: -496px;
    transform: rotate(-30deg);
    z-index: 3;
}

.images .balloons {
    position: absolute;
    width: 200px;
    right: 62px;
    top: -120px;
    z-index: 1;
    transform: rotate(15deg);
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    width: 130px;
    height: 55px;
    border-radius: 20px;
    background: linear-gradient(to bottom right, rgb(248, 118, 98), rgb(248, 118, 98), rgb(244, 186, 104), rgb(247, 195, 123), rgb(238, 192, 127));
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Poppins';
    cursor: pointer;
    position: absolute;
    border: none;
    bottom: 8%;
    /* right: 5%; */
    margin-right: 230px;
    z-index: 10;
    transition: all 0.5s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 3px 3px 50px rgba(255, 145, 180, 0.6),
        -3px 3px 50px rgba(255, 145, 180, 0.6);
    cursor: pointer;
}

.message {
    position: fixed;
    /* display: none; */
    padding-top: 28px;
    /* margin-top: 20px; */
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 237, 237);
    text-shadow: 0 0 10px rgb(250, 134, 134);
    z-index: 9999;
    /* padding: 18px 28px; */
    min-width: 240px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 34px;
    text-align: center;
    visibility: hidden;
    pointer-events: none;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 80px;
    border: 1px solid rgba(30, 30, 170, 0.548);
    /* opacity: 0.5; */
    background: linear-gradient(to bottom right, rgba(43, 31, 89, 0.8), rgba(24, 16, 50, 0.8), rgba(19, 11, 48, 0.8), rgba(37, 15, 42, 0.8), rgba(37, 15, 42, 0.8), rgba(37, 15, 42, 0.8), rgba(48, 11, 24, 0.8), rgba(40, 10, 20, 0.8));
}

.poem {
    position: fixed;
    top: 50%;
    opacity: 0;
    text-shadow: 0 0 10px rgb(250, 134, 134);
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 35px;
    border-radius: 14px;
    font-family: 'Poppins';
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;
    width: 500px;
    height: 550px;
    color: white;
    background: linear-gradient(to bottom right, rgba(43, 31, 89, 0.8), rgba(24, 16, 50, 0.8), rgba(19, 11, 48, 0.8), rgba(37, 15, 42, 0.8), rgba(37, 15, 42, 0.8), rgba(37, 15, 42, 0.8), rgba(48, 11, 24, 0.8), rgba(40, 10, 20, 0.8));
    font-size: 20px;
    font-weight: 500;
}



@keyframes messageFade {
    0% {
        opacity: 0;
        transform: translate(-50%, -48%);
        visibility: visible;
    }


    10% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    70% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -48%);
        visibility: hidden;
    }
}

@keyframes poemFade {
    0% {
        opacity: 0;
        transform: translate(-50%, -48%);
        visibility: hidden;
    }

    0.1% {
        visibility: visible;
    }

    10% {
        opacity: 0;
        transform: translate(-50%, -48%);
    }

    20% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -48%);
        visibility: hidden;
    }
}


#toggle:checked + .btn + .message {
    /* visibility: visible; */
    /* pointer-events: auto; */
    /* optional if you want it clickable while visible */
    animation: messageFade 3s ease forwards;
}

#toggle:checked + .btn + .message + .poem {
    /* visibility: visible; */
    /* pointer-events: auto; */
    animation: poemFade 45s ease forwards;
    animation-delay: 1s;
}

audio {
    margin-top: 50px;
}

